name: Lab00

on:
  workflow_dispatch:
  push:
    paths:
    - .github/workflows/lab00.yml
    - reusable/action_00/action.yml

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ls ./reusable
    - run: ls ./reusable/action_00
    - uses: ./reusable/action_00
