name: Lab00

on:
  workflow_dispatch:
  push:
    paths:
    - .github/workflows/lab00.yml
    - actions/reusable_action_00/action.yml

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - uses: ./actions/reusable_action_00/action.yml
