name: Lab00

on:
  workflow_dispatch:
  push:
    paths:
    - .github/workflows/lab00.yml
    - reusable/action_00/action.yml

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - run: echo $(pwd)
    - run: docker image list
    - uses: actions/checkout@v4
    - uses: ./reusable/action_00
      with:
        some_input: Something Meaningful
  second-job:
    needs: first-job
    if: github.repository == 'octo-org/octo-repo-prod'
    runs-on: ubuntu-latest
    steps:
    - run: echo "Second job complete"
  third-job:
    needs: second-job
    runs-on: ubuntu-latest
    steps:
    - run: echo "Third job complete"
